--allow-unverified recast-database
Cerberus==0.8.1
Eve==0.5.3
Eve-SQLAlchemy==0.4.0a1
Events==0.2.1
Flask==0.10.1
Flask-Login==0.2.11
Flask-PyMongo==0.3.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
SQLAlchemy==1.0.5
Werkzeug==0.10.4
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
celery==3.1.18
click==4.0
distribute==0.6.24
ipython==3.2.0
itsdangerous==0.24
kombu==3.0.26
mcviz==0.1
pymongo==2.8.1
pytz==2015.4
recast-database==0.0.1
-e git+git://github.com/recast-hep/recast-database.git#egg=recast-database-0.0.1'
redis==2.10.3
requests==2.7.0
rivet==2.1.2
simplejson==3.7.3
wsgiref==0.1.2
yoda==1.1.0
