{% extends "base.html" %}


{% block container %}

<div class="container">
<div class="row">
<div class="col-md-11">

<h3> Analyses <span class="pull-right">
<a id="sort" href="#" type="button" class="btn btn-default"><i class="glyphicon glyphicon-sort-by-attributes"></i>&nbsp;Sort</a>&nbsp;&nbsp;<a id="max-results" href="#" type="button" class="btn btn-default"><i class="glyphicon glyphicon-resize-vertical"></i>&nbsp;Max results</a>&nbsp;&nbsp;<a href="analysis_form" class="btn btn-info" role="button"><i class="glyphicon glyphicon-plus"></i>&nbsp;New Analysis</a></span> </h3>
<br>
<div class="table-responsive">
  <table class="table table-hover">
    <tbody>
      {% for analysis in analyses %}
      <tr class="responsive" style="border:none;">
	<td style="border:none;">
	  <br>
	  <a href ="{{ url_for('.analysis', id=analysis.id) }}"> <strong>{{ analysis.title }}</strong></a>&nbsp;&nbsp;<span class="label label-primary">{{ analysis.collaboration }}</span>
	  <br><br>
	  <div class="more">{{ analysis.description }}</div>
	  <div class="pull-right">
	    <br>
	 <a href="{{ url_for('.analysis', id=analysis.id) }}"><span class="label label-default">view</span></a>&nbsp;&nbsp;<a href="{{ url_for('.subscribe', id=analysis.id) }}"><span class="label label-default">subscribe</span></a>&nbsp;&nbsp;<a href="{{ url_for('.request_form', id=analysis.id) }}"><span class="label label-default"><i class="glyphicon glyphicon-plus"></i>&nbsp;add&nbsp;request</span></a>
	 </div>
	  <br><br><br>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
<script type="text/javascript">
  
  $(document).ready(function() {
  $('.more').each(function () {
        var content = $(this).html();
        $(this).html(shortStr(content, 300));
  });
  })

</script>

{% endblock %}
