<!DOCTYPE html>
<html lang="en">
    <head>

	{% include "head.html" %}
    </head>

<body ng-app="recastApp">

{% include "nav.html" %}

<div class="container">

    <div class="row col-md-12">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{category}}" role="alert">{{message}}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
</div>

    
<div style="padding: 0; padding-top: 70px;">
        
    {% block container %}
    {% endblock %}

</div>

<br><br><br><br>

{% include "footer.html" %}

<script type="text/javascript">
    
    $('#nav').affix({
	offset: {
	    top: $('header').height()
	}
    });
 
</script>
<script type="text/javascript" src="../static/recast.js"></script>
</body>
</html>
