{% block container %}

<div class="col-md-12">

    <div class="card card-on-deck card-info col-md-12" ng-controller="ParameterResponseCtrl as ctrl">
	<div class="col-md-12">
	    <h4>Basic response
		<span>
		    
		    <button class="btn btn-warning btn-sm pull-right" ng-click="ctrl.hideresponse()">
			Hide
		    </button>
		    <span>
			<br>
		    </span>
		</span>
	    </h4>
	</div>
	
	<div class="table-responsive col-md-12">
	    <table class="table col-md-12 table-hover table-bordered">
		<tbody>
		    <tr>
			<td><strong>lower 1 sig expected CLs</strong></td>
			<td>{{ basicresponse.lower_1sig_expected_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>lower 2 sig expected CLs</strong></td>
			<td>{{ basicresponse.lower_2sig_expected_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>expected CLs</strong></td>
			<td>{{ basicresponse.expected_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>upper 1 sig expected CLs</strong></td>
			<td>{{ basicresponse.upper_1sig_expected_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>upper 2 sig expected CLs</strong></td>
			<td>{{ basicresponse.upper_2sig_expected_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>Observed CLs</strong></td>
			<td>{{ basicresponse.observed_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>log likelihood at references</strong></td>
			<td>{{ basicresponse.log_likelihood_at_reference }}</td>
		    </tr>

		</tbody>
	    </table>
	</div>

    </div>
    
</div>

{% endblock %}
	
