
<div class="footer">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-1 hidden-sm hidden-xs">
                <img src="../static/img/recast-logo-mark.svg" width="100%">
            </div>

            <div class="col-sm-3 col-md-3">
                <h4>Contact</h4>
                <ul>
                    <li><a href="mailto:">Email</a></li>
                    <li><a href="">Github</a></li>
                </ul>
            </div>

            <div class="col-sm-3 col-md-3">
                <h4>Resources</h4>
                <ul>
                    <li><a href="http://diana-hep.org"
                           target="_new">DIANA-HEP</a></li>
                    <li><a href="http://analysis-preservation.cern.ch"
                           target="_new">CERN Analysis Preservation
                        Framework</a></li>
                    <li><a href="http://hepdata.net" target="_new">HEPData</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3 col-md-3">
                <h4>About</h4>
                <ul>

                    <li><a href="/about">About</a></li>
                    <li><a href="">Team</a></li>
                    <li><a href="http://arxiv.org/abs/1010.2506" target="_new">White
                        paper</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <img src="../static/img/diana-hep-logo.svg" width="100%">
            </div>

            <div class="clearfix"></div>
            <div class="col-md-12 text-center">
                Copyright © 2016
                <br/>
            </div>
        </div>
    </div>
</div>