{% extends "base.html" %}

{% block container %}

<div class='col-md-10'>

<h2>About this site</h2>
  
  <div class="content">
    <p>RECAST is a framework for extending the impact of existing analyses performed by  high-energy physics experiments.</p>
<ol><li>Anyone can add <em>analyses</em> to the Analysis Catalog</li>
<li>Anyone can upload alternative signals in the LHE format and <em>request</em> that any given analysis is "recast" for their alternative model (Note: this is a request, there is no obligation for the experiments to respond.)</li>
<li>Anyone can <em>subscribe</em> to an analysis to be informed of activity associated with the analysis</li>
<li>Experimentalists can accept the request, process these alternative signals with the full simulation, reconstruction, and analysis selection.  If they are authorized by their collaboration, then they can respond with an authoritative <em>result</em> for the selection efficiency and cross-section limits for the alternative signal.  Note, anyone can provide a non-authoritative result, for instance one based on fast simulation. </li>
<li>Anyone can <em>view</em> the results associated with a request. </li>
</ol><p>For more information, see the About page and the original <a href="http://arxiv.org/abs/1010.2506">White Paper</a>.</p>
</div>

{% endblock %}
