{% extends "base.html" %}

{% block container %}
<div class="container">
  <!-- <div class='col-md-10'> -->
    
  <div class="card card-default text-xs-center text-center" style="box-shadow: 1px 1px 1px 4px #f2efef;">
    <div class="card-block" >
      <blockquote class="card-blockquote">
     <h3>RECAST is a framework for extending the impact of existing analyses performed by  high-energy physics experiments.</h3>
      <ol><li>Anyone can add <em>analyses</em> to the Analysis Catalog</li>
	<li>Anyone can upload alternative signals in the LHE format and <em>request</em> that any given analysis is "recast" for their alternative model (Note: this is a request, there is no obligation for the experiments to respond.)</li>
	<li>Anyone can <em>subscribe</em> to an analysis to be informed of activity associated with the analysis</li>
	<li>Experimentalists can accept the request, process these alternative signals with the full simulation, reconstruction, and analysis selection.  If they are authorized by their collaboration, then they can respond with an authoritative <em>result</em> for the selection efficiency and cross-section limits for the alternative signal.  Note, anyone can provide a non-authoritative result, for instance one based on fast simulation. </li>
	<li>Anyone can <em>view</em> the results associated with a request. </li>
      </ol><p>For more information, see the About page and the original <a href="http://arxiv.org/abs/1010.2506">White Paper</a>.</p>
      </blockquote>
    </div>
  </div>
  
  <span>
    <br>
  </span>

  <div class="row" ng-controller="HomeCtrl as ctrl">
    <div class="col-md-6">
      <div class="card-deck-wrapper">
	<div class="card-deck">
	  <div class="card" style="box-shadow: 1px 1px 1px 5px #f2efef;">
	    <div class="card-block">
	      <br><br>	      <br><br>
	      <h2 class="card-title text-center">
		<a href="{{url_for('analyses')}}" class="card-link">
                  <span ng-bind="ctrl.analyses"></span>		  
		   Analysis
		</a>
	      </h2>
	      
	      <br><br>	      <br><br>
	    </div>
	  </div>
	  
	  <div class="card" style="box-shadow: 1px 1px 1px 5px #f2efef;">
	    <div class="card-block">
	      <br><br><br><br>
	      <h2 class="card-title text-center">
		<a href="{{url_for('request_views')}}" class="card-link">
		  <span ng-bind="ctrl.requests"></span>
		  Requests
		</a>
	      </h2>
	      <br><br>
	    </div>
	  </div>
	  
	</div>
      </div>


  
    </div>
    <div class="col-md-6">
      <div class="container-fluid hidden-sm hidden-xs hidden-lg">
	<div class="card">
	  <div class="card-header">Latest Requests</div>
	  <div class="card-block">
	    (Placeholder)
	    <br><br><br><br>	      <br><br><br><br>	      <br><br><br><br>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>	
{% endblock %}
