<div class="row">
  <div class="col-md-12">
    <h4>Point Coordinates</h4>
    <table class="table">
      <tbody>
        {% for coordinate in pointrequest.point_coordinates %}
        <tr>
          <td class="col-md-4">
            {% if coordinate.title %}
            <strong>{{ coordinate.title }}</strong>
            {% else %}
            <strong>coord {{ loop.index0 }}</strong>
            {% endif %}
          </td>
          <td class="col-md-4" style="background-color:white;">
            {{ coordinate.value }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <h4>Result</h4>
      {% if pointrequest.point_responses %}

        <div>
          <a ng-click="showPointResponse =!showPointResponse;ctrl.fetchResponse('{{pointrequest.point_responses.id}}')">
            <button type="button" class="btn btn-primary btn-xs">Show Point Response Data</button>
          </a>
        </div>

        <div>
            <span ng-show="showPointResponse" bind-html-compile="ctrl.responseData()"></span>
        </div>

      {% else %}

      <div>
        <button type="button" class="btn btn-primary btn-xs disabled">Show Point Response Data</button>
      </div>

      {% endif %}
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h4>Basic Requests</h4>
  </div>
  <div class="col-md-6">
    <span class="pull" ng-controller="BasicRequestCtrl as brCtrl">
      <button class="btn btn-primary btn-sm" ng-click="brCtrl.addBasicRequest({{pointrequest.id}})">
        <i class="glyphicon glyphicon-plus"></i>&nbsp;Add Basic Request
      </button>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tbody>
        {% for basicrequest in pointrequest.requests %}
        <tr>
          <td>{{loop.index}}</td>
          <td class="col-md-12">
            <div>
              <a  href="/stored_file/{{basicrequest.file_name.file_name }}"
                  download="{{basicrequest.file_name.original_file_name}}">
                <button type="button" class="btn btn-primary btn-xs">Request Archive</button>
              </a>


              {% if basicrequest.basic_responses[0] %}
              {% set basicresponse = basicrequest.basic_responses[0] %}
              {% if basicresponse.archives %}
                <a href="/stored_file/{{basicresponse.archives.file_name}}"
		               download="{{basicresponse.archives.original_file_name}}">
                    <button type="button" class="btn btn-primary btn-xs">Response Archive</button>
	              </a>
              {% else %}
                <button type="button" class="btn btn-primary btn-xs disabled">Response Archive</button>
              {% endif %}

                <a ng-click="showBasicResponse_{{loop.index0}} =!showBasicResponse_{{loop.index0}};ctrl.fetchBasicResponse('{{basicrequest.basic_responses[0].id}}', '{{loop.index0}}')">
                  <button type="button" class="btn btn-primary btn-xs">Show Response Data</button>
                </a>
              {% else %}
              <button type="button" class="btn btn-primary btn-xs disabled">Response Archive</button>
              <a>
                <button type="button" class="btn btn-primary btn-xs disabled">Show Response Data</button>
              </a>
              {% endif %}
            </div>

            <div>
                <span ng-show="showBasicResponse_{{loop.index0}}" bind-html-compile="ctrl.BasicResponseData('{{ loop.index0 }}')"></span>
            </div>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
