{% extends "base.html" %}

{% block container %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="panel panel-default profile-panel">
	<div class="panel-body">
	  <div class="col-sm-9 col-xs-12 user-info-box">
	    <h3 class="user-name">{{current_user.name()}}</h3>
	    <p><strong><i class="fa fa-envelope"></i>E-mail: </strong><span class="user-email">{{db_user.email }}</span></p>
	    <p><strong><i class="fa fa-bars"></i>ORCID ID: </strong><span class="user-orcid">{{db_user.orcid_id}}</span></p>	 
	  </div>
	</div>
      </div>

      <div class="panel panel-default">
	<div class="panel-body">
	  <h3><i></i>Tokens<a href="#newToken"><button id="upperNewToken" onclick="hideshow()" type="text" class="btn btn-success pull-right">Generate new token</button></a></h3>    
	  <hr class="colorgraph">
	  <table class="table table-hover table-responsive">
	    <thead>
	      <tr>
		<th>#</th>
		<th>Token Name</th>
		<th>Action</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for token in tokens %}
	      <td>1</td>
	      <td>{{ token.name }}</td>
	      <td><form action="/profile" method="DELETE"><button type="submit" name="delete" value="delete" class="btn btn-danger">Delete</button></form></td>
	      {% endfor %}
	    </tbody>  
	  </table>	  
	</div>
      </div>
      
      <div class="panel panel-default">
	<div class="panel-body">
	  <h3> Generate New Token </h3>
	  <hr class="colograph">
	  <form action="/token" method="POST" class="form-inline">
	    <a name="newToken"></a>
	    <label for="name"><strong>Name: </strong></label>	    
	    <input type="text" name="tokenname" class="form-control" placeholder="Name your token"/>
	    <button type="submit" name="delete" value="delete" class="btn btn-success pull-right">Generate new token</button>
	  </form>
	</div>
      </div>


    </div>
  </div>
</div>

<script type="text/javascript">
  
  function hideshow() {
     document.getElementById('upperNewToken').classList.add('hide');
  }
</script>  
  
	  
{% endblock %}
