{% extends "base.html" %}


{% block container %}

<div class="container">
<h3> Requests </h3>
<table class="table">
  <thead>
    <tr>
      <th>Requester</th>
        <th>Analysis</th>
        <th>Collaboration</th>
	<th>View Request</th>
      </tr>
    </thead>
    <tbody>
      {% for request in requests %}
      
      <tr class="active">
	<td> {{ request.requester.name }} </td>
	
	<td>    <a href ="{{ url_for('.analysis', id=request.analysis.id) }}"> {{ request.analysis.title }}</a> </td>
	<td> {{ request.analysis.collaboration }} </td>
	<td> <a href = "{{ url_for('.request', id =request.id) }}"> view </a> </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<a href="request_form" class="btn btn-info" role="button">New Request</a>
</div>
{% endblock %}
