{% extends "base.html" %}

{% block container %}

<div class="container">
  <div class="row">

  <div class="col-md-2">
    <br><br><br>
    <div class="panel panel-info">
      <div class="panel-content">
	<ul class="nav nav-pills nav-stacked">
	  <li><a data-toggle="modal" href="#contactModal">Contact Requester</a></li>
	  <li class="disabled"><a href="#">Edit</a></li>
	</ul>
      </div>
    </div>    
  </div>
  
  <div class="col-md-8">
    <br><br><br>

    <div class="card col-md-12">
      <h3 style="margin-top:5px">{{ request.title }}</h3>
      <br>
      <span class="badge"><i class="glyphicon glyphicon-user"></i>&nbsp; {{ request.requester.name }}</span>
      {% if request.post_date %}
      <span>{{ request.post_date }}</span>
      {% endif %}
      <br><br>
      {% if request.description_of_model %}
      <span class="label label-primary"><i class="glyphicon glyphicon-tag"></i>&nbsp;<strong>Model:</strong>&nbsp;{{ request.description_of_model }}</span>
      {% endif %}
      
	      
      
      {% if request.status %}
      <span class="label label-warning"><i class="glyphicon glyphicon-tag"></i>&nbsp;<strong>Status:</strong>&nbsp;{{ request.status }}</span>
      {% endif %}
      
      {% if request.uuid %}	     
      <span class="label label-primary">
	<i class="glyphicon glyphicon-tags"></i>
	&nbsp;<strong>uuid:</strong>&nbsp;{{ request.uuid }}
      </span>
      {% endif %}
      
      
      <br><br>
      <span>
	<strong>
	  <span>
	    <i class="glyphicon glyphicon-pencil"></i>
	    &nbsp;analysis&nbsp;
	  </span>
	</strong>
	<a href="{{ url_for('.analysis', id=request.analysis.id) }}">
	  <span id="analysis-title">{{ request.analysis.title }}
	  </span>
	</a>
	<span class="label label-primary">
	  {{ request.analysis.collaboration }}
	</span>
      </span>
      
      <br><br>
      <strong>Reason for request</strong>
      <br>
      {{ request.reason_for_request }}
      <br>
      <br>
      <strong>Additional information</strong>
      <br>
      {{request.additional_information }}
      <br><br>
      

    </div>
    <span>
      <br><br><br><br>
    </span>
    <button type="button" class="btn btn-info pull-right" id="btn-add-parameter-point"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Parameter Point</button>
    	       
    <span>
    <br>
    <br>
    <br>
    </span>
    <div ng-controller="parameterCtrl as ctrl">
    {% for point_request in request.scan_points %}
    {% if loop.index0 > 0 %}
    <span>
      <br><br>
    </span>
    {% endif %}
    <div class="card col-md-12">
      <br>
      <span class="col-md-3"><strong>&nbsp;&nbsp;&nbsp;&nbsp;Parameter {{loop.index0+1}} </strong></span>
      <span class="col-md-2">
	<!--<a class="btn btn-success btn-sm" href="{{"https://s3.amazonaws.com/"+ bucket_name +"/"+ point_request.requests[0].file_name[0].file_name }}">
	  <i class="glyphicon glyphicon-download"></i>&nbsp;Download</a>	      -->
      </span>
      <span class="col-md-6"></span>
      <!--{#{% if point_request.point_coordinates[0] and point_request.requests[0].file_name[0] %}#}-->	 
      <div class="col-md-12">
	<div class="col-md-4">	  
	  <br><br>
	  <a class="btn btn-success btn-sm" href="{{"https://s3.amazonaws.com/"+ bucket_name +"/"+ point_request.requests[0].file_name[0].file_name }}">
	  <i class="glyphicon glyphicon-download"></i>&nbsp;Download File</a>
	  <br><br>
	  <a class="btn btn-info btn-sm disabled" href="#"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;View Response</a>
	  <br><br>
	</div>
	<div class="table-responsive col-md-8">
	  <table class="table">
	    <thead>
	      <tr>
		<th>
		  <span class="col-md-6" style="display:inline-block;">Coordinate</span>
		  <span class="col-md-6" style="display:inline-block;">Value</span>
		<th>
	      </tr>
	    </thead>
	    <tbody>	  
	      {% for coordinate in point_request.point_coordinates %}
	      
	      <tr>
		<th style="background-color:white;">
		  <span class="col-md-6" style="display:inline-block;">	     
		    {%  if coordinate.title %}
		    {{ coordinate.title }}
		    {% else %}
		    Coordinate {{ loop.index0 }}
		    {% endif %}
		    
		  </span>
		  <span class="col-md-6" style="display:inline-block;">{{ coordinate.value }}</span>
		</th>
	      <tr>
		{% endfor %}	    
	    </tbody>
	  </table>
	  <span><button type="button" id="btn-add-coordinate-{{loop.index0}}" class="btn btn-primary btn-sm pull-right" ng-click="ctrl.addCoordinate({{point_request.id}})"><i class="glyphicon glyphicon-plus"></i>&nbsp;New Coordinate</button>
	    <br><br>
	  </span>
	</div><!-- end of div table responsive -->
      </div>
      
    </div>
    {% endfor %}  
    </div><!-- ng-controller -->
    
  </div> <!-- End middle column -->
  </div>
  

<!-- Modal for adding parameter point -->
<div id="modal-add-parameter-point" class="modal fade slide left" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="modal-title" id="modalLabel">Add Parameter</h3>
      </div>
      <form id="form-add-parameter-point" method="post" class="form-horizontal" enctype="multipart/form-data">
	<div class="modal-body">
	  <div id="form-data">
	    <div class="form-group required">
	      <label class="control-label col-md-4" for="parameter-point">Parameter:</label>
	      <div class="col-md-4">
		<input class="form-control" id="coordinate-name" name="coordinate-name" type="textt" value="" placeholder="Name">		
		<p class="text-muted"><small>Optional name</small></p>
	      </div>	   
	      <div class="col-md-4">
		<input class="form-control" id="coordinate-value" name="coordinate-value" type="text" value="" placeholder="Value">
		<p class="text-muted"><small>Required value of type "float"</small></p>
	      </div>
	      
	      <div class="form-group required">
		<label class="control-label col-md-4" for="zip-file">Zip File:</label>
		<div class="col-md-6">
		  <input id="zip-file" name="zip-file" type="file">
		  <p class="text-muted"><small>.zip extension allowed</small></p>
		</div>
	      </div>
	      
	    </div>
	  </div>
	</div><!-- end of modal data -->
	  
	<div class="modal-footer">
	  <button class="btn btn-warning pull-left" id="parameter-reject-data" type="button"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
	  <button class="btn btn-primary pull-right" id="parameter-accept-data" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;Submit</button>
	</div>
      </form>
    </div>
  </div>
</div>


<div id="modal-add-coordinate" class="modal fade slide left" tabindex="-1" role="dialog" aria-labelelledby="myModalLabel" aria-hidden="true" ng-controller="parameterCtrl as ctrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="modal-title" id="coordinate-model-label">Add Coordinate</h3>
      </div>
      <form id="form-add-coordinate" method="post" class="form-horizontal">
	<div class="modal-body">
	  <div id="form-data-coordinate">
	    
	    <div class="form-group required">
	      <label class="control-label col-md-3" for="coordinate">Coordinate:</label>
	      <div class="col-md-4">
		<input class="form-control" ng-model="ctrl.coordinate.name" id="coordinate-name-2" name="coordinate-name" type="text" value="" placeholder="Name">
		<p class="text-muted"><small>Optional name</small></p>
	      </div>

	      <div class="col-md-4">
		<input class="form-control" id="coordinate-value-2" ng-model="ctrl.coordinate.value" name="coordinate-value" type="text" value="" placeholder="Value">
		<p class="text-muted"><small>Required value of type "float" </small></p>
	      </div>	      
	    </div>
	  </div>
	</div><!-- end modal body -->
	
	<div class="modal-footer">
	  <button class="btn btn-warning pull-left" ng-click="ctrl.hideModal()" id="coordinate-reject-data" type="button"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
	  <button class="btn btn-primary pull-right" id="coordinate-accept-data"  ng-click="ctrl.submit()" type="button"><i class="glyphicon glyphicon-ok"></i>&nbsp;Submit</button>
	  </div>
	</div>
      </form>
    </div>
  </div>
</div>


<!-- Modal to contact requester -->
<div id="contactModal" class="modal fade slide left" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="modal-title" id="myModalLabel">Contact Requester</h3>
      </div>

      <div class="modal-body">
	<form class="form-horizontal col-md-12" role="form">
	  <div class="form-group">
	    <label>Subject</label>
	    <input class="form-control" type="text">
	  </div>
	  <div class="form-group">
	    <label>Message</label>
	    <textarea class="form-control" placeholder="Your message here.."></textarea>
	  </div>

	  <div class="form-group">
	    <label>E-mail</label>
	    <input class="form-control" placeholder="email@you.com" data-placement="top" type="text">
	  </div>
	  <div class="form-group">
	    <button type="submit" class="btn btn-success pull-right">Send</button>
	  </div>
	</form>
      </div>
      <div class="modal-footer">
	<button class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">

angular.module('recastApp', [])
    .controller('parameterCtrl', ['$http', 'PointRequestService', function($http, prs) {
	var self = this;
	self.addCoordinate = function(pid) {
	    prs.setID(pid);
	    $('#modal-add-coordinate').modal('show');	    
	};
	self.submit = function() {
	    self.hideModal();
	    NProgress.start();
	    NProgress.inc(0.4);
	    $http.post('/add-coordinate/'+prs.getID(), self.coordinate)
		.then(function(reponse) {
		    NProgress.inc(0.5);
		    self.coordinate = {};
		    NProgress.done();		    
		    location.reload();
		});
	};
	self.hideModal = function() {
	    console.log('hide modal');
	    $('#modal-add-coordinate').modal('hide');
	};
    }])

    .factory('PointRequestService', [function() {
	/* Service to store point request ID */
	point_request_id = 0;
	return {
	    setID: function(ID) {
		point_request_id = ID;
	    },
	    getID: function() {
		return point_request_id;
	    }
	};	     
    }]);

$(document).ready(function() {
    var analysis_content = $('#analysis-title').html();
    $('#analysis-title').html(shortStr(analysis_content, analysis_content.length/2, 80));
  

    $('#btn-add-parameter-point').click( function() {
	$('#modal-add-parameter-point').modal('show');
    });
    
    $('#parameter-reject-data').click( function() {
	$('#modal-add-parameter-point').modal('hide');
    });
			     
    
    $('#form-add-parameter-point').on('submit', function(e) {
	$('#modal-add-parameter-point').modal('hide');     
	e.preventDefault();
	NProgress.start();
	var form_data = new FormData($('#form-add-parameter-point')[0]);
	url = "/add-parameter-point?id="+"{{request.id}}";      
	NProgress.inc(0.3);
	var request = $.ajax({
            type: "POST",
            url: url,
            data: form_data,
            processData: false,
            contentType: false,
            dataFilter: function (msg){
                NProgress.inc(0.4);
                NProgress.inc(0.3);
                NProgress.done();
            },
            success: function (msg) {         
                NProgress.done();
            }
        });
	request.done( function(){
            window.location.replace(location.origin+"/request/"+"{{request.id}}");
        });
   });   
    
          
})


  
</script>  

{% endblock %}
