{% block container %}

<div class="col-md-12 response-border">
    <div class="col-md-12"><br></div>
    <div class="card-flat col-md-12" ng-controller="ParameterViewCtrl as ctrl">
	<div class="col-md-12">
	    <h4>Parameter Response
		<span>		    
		    <a class="btn btn-warning btn-sm pull-right"
		       href="{{ url_for('.download_response_json', id=pointresponse.id)}}"
		       target="_blank"
		       download="">
			<i class="glyphicon glyphicon-cloud-download"></i>
			&nbsp;Download
		    </a>
		    <span>
			<br>
		    </span>
		</span>
	    </h4>
	</div>
	
	<div class="table-responsive col-md-12">
	    <table class="table col-md-12 table-hover table-bordered">
		<tbody>
		    <tr>
			<td><strong>lower 1 sig expected CLs</strong></td>
			<td>{{ pointresponse.lower_1sig_expected_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>lower 2 sig expected CLs</strong></td>
			<td>{{ pointresponse.lower_2sig_expected_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>expected CLs</strong></td>
			<td>{{ pointresponse.expected_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>upper 1 sig expected CLs</strong></td>
			<td>{{ pointresponse.upper_1sig_expected_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>upper 2 sig expected CLs</strong></td>
			<td>{{ pointresponse.upper_2sig_expected_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>Observed CLs</strong></td>
			<td>{{ pointresponse.observed_CLs }}</td>
		    </tr>

		    <tr>
			<td><strong>log likelihood at references</strong></td>
			<td>{{ pointresponse.log_likelihood_at_reference }}</td>
		    </tr>

		</tbody>
	    </table>
	</div>

	<div class="col-md-12">
	    Download File
	    {% if pointresponse.archives %}
	    <button type="button" class="btn btn-success btn-sm"
		    href="{{'https://s3.amazonaws.com/'+ bucket_name + '/' + pointresponse.archives.file_name }}"
		    download = "{{ pointresponse.archives.original_file_name }}">
		<i class="glyphicon glyphicon-download"></i>
		&nbsp;Download File
	    </button>
	    {% else %}
	    <button type="button" class="btn btn-success btn-sm disabled">
		<i class="glyphicon glyphicon-cloud-download"></i>
		&nbsp;Download File
	    </button>
	    {% endif %}
	  
	</div>
	<div class="col-md-12">
	    <br>
	</div>
	
    </div>
</div>
<div class="col-md-12"><br></div>
{% endblock %}
	
